.title{
    color: rgba(0, 0, 0, 0.5);
    font-size: 300%;
    text-align: center;
}

textarea{
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    color: #3c4043;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    padding: 8px 24px;
    width: auto;
}

.note{
    display: flex;
    flex-direction: column;

}

.savebtn{

    width: 20%;
    height: 30px;
}
.saveChangebtn{
    padding: 2px 24px;
    width: 20%;
    display: none;
    height: 30px;
    padding: 0.5%;
}

.savedNotes{
    display: block;
    margin-top: 5%;
}


.cancelbtn{
    width: 20%;
    display: none;
    height: 30px;
}


.sNote{
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    border: solid rgba(0, 0, 0, 0.5);
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    color: #3c4043;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    padding: 8px 24px;
    width: 200px;
    display: table-column;
    align-items: center;
    justify-content: center;
    float: left;

}

p{
    text-align: center;
}

.buttons{
    display: flex;
    justify-content: center;
}

.info{
    margin-top: 20px;
    display: none;
    flex-direction: column;
}

.creationDate, .modifyDate{
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    text-align: right;
    color: rgba(0, 0, 0, 0.5);;
    margin-top: 0;
}

.viewbtn, .editbtn, .delbtn, .savebtn, .cancelbtn, .saveChangebtn{
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    justify-content: center;
    margin-top: 8px;
    text-align: center;
    width: 25%;
}
