.cont{
    display: flexbox;
    width: 520px;
}

.line{
    display: flex;
    float: left;
    width: 500px;
    height: 100px;
}

.col{
    float: left;
    display: flex;
    width: 98px;
    height: 96px;
    border-style:solid;
}
